:root {
    --primary-colour: black;
}

.background {
    background-color: var(--primary-colour);
}

p, h1, h2, div {
    color: white;
}

body {
    margin: 0;
}

h1 {
    color: green;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    box-sizing: border-box;
    width: 500px;
    background-color: skyblue;
    margin-left: auto;
    margin-right: auto;

}

.title {
    margin: auto;
    border: 2px dotted black;
    padding: 15px;
    box-sizing: border-box;
}

img#titleImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

p {
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    line-height: 1.2em;
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
}

p#tinyText {
    font-size: 4px;
    font-family: cursive;
}

.navBar {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: burlywood;
    height: 45px;
    position: fixed;
    top: 0;
    width: 100%;
}

.navBar .navTitle{
    height:100%;
    display: flex;
    margin: auto;
    align-items: center;
    background-color: skyblue;
    width: 10em;
}

.navBar h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin:0;    
}

.navBar .navButton {
    padding: 10px 25px 10px 25px;
    border: 3px solid black;
}

.navBar .navButton:last-of-type {
    margin-right: 300px;
}
